@CHARSET "utf-8";

body {
	float:center;
	text-align:center;
}
#tag-cloud {
	position:relative; 
	width:250px; 
	height:250px; 
	margin: 0; 
	float:center;
	text-align:center;
	border:1px solid red;
}
#tag-cloud a {
	position:absolute; 
	top:0px; 
	left:0px; 
	font-family:"å®‹ä½“",Arial,Microsoft YaHei; 
	color:#fff; 
	font-weight:bold; 
	text-decoration:none; 
	padding: 3px 6px; 
}
#tag-cloud a:hover {
	border: 1px solid #eee; 
	background: #7cfc00; 
}
#tag-cloud .red {
	color:red;
	}
#tag-cloud .orange {
	color:orange;
}
#tag-cloud .yellow {
	color:yellow;
}
#tag-cloud .green {
	color:green;
}
#tag-cloud .blue {
	color:blue;
	}
#tag-cloud .indigo {
	color:indigo;
}

#tag-cloud .violet {
	color:violet;
}
p { 
	font: 16px "å®‹ä½“"; 
	text-align: center; color: #ba0c0c; 
}
p a { 
	font-size: 14px; color: #ba0c0c; 
}
p a:hover { 
	color: red; 
}